@inject NavigationManager Nav;

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" >
                <NotAuthorized>

                    <MudContainer Class="d-flex justify-content-center align-items-center vh-100" Style="max-width: 800px">
                        <MudPaper Class="welcome-paper p-4">

                            <MudText Class="mb-3 font-monospace" Align="Align.Center" Typo="Typo.h4">Welcome to the Studly app</MudText>
                            
                            <MudText Typo="Typo.h6">This is an application for managing your tasks and tracking the time spent on them.</MudText>

                            <MudText Typo="Typo.h6">This is a test project written by two programmers students of NAU. Nazar Dragusevich (API, Backend) Eugene Hryn (Blazor WA, API).</MudText>
                            
                            <div class="my-5">
                                <MudLink Href="https://github.com/Dragusev1ch" Class="my-3" Typo="Typo.subtitle1">
                                    <MudIcon Color="Color.Dark" Icon="@Icons.Custom.Brands.GitHub" Title="GitHub" />
                                    Nazar Dragusevich
                                </MudLink>
                            </div>
                            <div class="my-5">
                                <MudLink Href="https://github.com/eugene-gryn" Class="my-3" Typo="Typo.subtitle1">
                                    <MudIcon Color="Color.Dark" Icon="@Icons.Custom.Brands.GitHub" Title="GitHub" />
                                    Eugene Hryn
                                </MudLink>
                            </div>

                            <MudText Typo="Typo.subtitle1">You can start using the App by registering or logging in if you already have an account.</MudText>
                            
                            <div class="d-flex justify-content-center w-100 mt-5">
                                <MudButton Class="shadow-lg" Size="Size.Large" Variant="Variant.Filled" OnClick="NavigateToMainPage" Color="Color.Secondary">
                                    Get Started
                                </MudButton>
                            </div>

                        </MudPaper>
                    </MudContainer>
                    
                    <CustomBackground />

                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {

    private void NavigateToMainPage()
    {
        Nav.NavigateTo("/login");
    }

}